.searchListContent {
    display: flex;
    flex-direction: column;
}

.searchListCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}