.listContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 1120px;
}

.listContainerLeft {
    display: flex;
    flex-direction: column;
    width: 736px;
    margin-right: 32px;
}

.listContainerRight {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DADADA;
}

.listContainerLeftUp {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
}

.listContainerLeftDown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
}